/* 
*MAJ par Pilou 17/09/2021
* 
 */

/* General */
*, *:before, *:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    height: 100vh;
    font-family: 'Montserrat';
    font-size: 1rem;
    background: #D8EBFF;

}


/* Nav */
nav a, .nav-link{
    color: #fa6b05;
}
nav a:hover, .nav-link:hover{
    color: #ffc396;
}
.navbar-brand{
    font-size: 1.5em;
    font-family: 'Kaushan script';
}

/* Header */
header{
    height: 80vh;

}
/* Main */
/* Footer */