//Création par Pilou le 08/10/21

@mixin case-button($color: $erieblue){
    border: 1px solid $dark;
    border-radius: 1em;
    background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(92,171,255, 0.0784313725490196) 8%, rgba(92,171,255, 0.0784313725490196) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(92,171,255, 0.0784313725490196) 21%, rgba(92,171,255, 0.0784313725490196) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(92,171,255, 0.0784313725490196) 35%, rgba(92,171,255, 0.0784313725490196) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    box-shadow: 0.5em 0.5em 1em $dark;
    transition: 0.2s ease-in-out;
    &:hover{
        background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(92,171,255, 0.0784313725490196) 8%, rgba(92,171,255, 0.0784313725490196) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(92,171,255, 0.0784313725490196) 21%, rgba(92,171,255, 0.0784313725490196) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(92,171,255, 0.0784313725490196) 35%, rgba(92,171,255, 0.0784313725490196) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, $color,$color); 
        box-shadow: 1em 1em 2em $dark;
        cursor: pointer;
    }

}