//Création par Pilou le 24/09/21

%flex-2centers{
    display: flex;
    justify-content: center;
    align-items: center;
}

%button-erieblue{
    border: 1px solid $dark;
    border-radius: 0.5em;
    background: linear-gradient(175deg, $light 0%, $erieblue 50%);
    box-shadow: 0.2em 0.2em 0.5em $black;
    color: $dark;
    transition: 0.2s ease-in-out;
    &:hover{
        background: linear-gradient(175deg, $erieblue 0%, $light 100%);
        box-shadow: 0.4em 0.4em 1em $dark;
        cursor: pointer;
    }
    &:active{
        background: linear-gradient(175deg, $light 0%, $darkgray 100%);
        box-shadow: 0 0 0 white;
    }
    
}