//Création par Pilou le 24/09/21

%flex-2centers{
    display: flex;
    justify-content: center;
    align-items: center;
}

%button-erieblue{
    border: 1px solid $dark;
    border-radius: 1em;
    background: linear-gradient(175deg, $light 0%, $erieblue 50%);
    box-shadow: 0.5em 0.5em 1em $dark;
    color: $dark;
    transition: 0.2s ease-in-out;
    &:hover{
        background: linear-gradient(175deg, $light 0%, $salmon 100%);
        box-shadow: 1em 1em 2em $dark;
        cursor: pointer;
        p{
            color: $blue;
        }
        hr{
            background-color: $blue;
        }
    }
    &:active{
        background: linear-gradient(175deg, $light 0%, $orange 100%);
        box-shadow: 0 0 0 white;
    }
    
}