//Création par Pilou le 24/09/21

// Fonts
$font1 : 'Kaushan Script', cursive;
$font2 : 'Oswald', sans-serif;

// Couleurs
$orange: #FA6B05;
$salmon: #FFC396;
$blue: #D8EBFF;
$light: #F5F5F5;
$gray: #CCCCCC;
$dark: #3D3D3D;
$black: #1E1E1F;
