//Création par Pilou le 24/09/21

// Fonts
$font1 : 'Kaushan Script', cursive;
$font2 : 'Oswald', sans-serif;

// Couleurs
$orange: #FA6B05;
$salmon: #FFC396;
$erieblue: #D8EBFF;
// $blue: #5CABFF;
$light: #F5F5F5;
$gray: #CCCCCC;
$darkgray: #ACACAF;
$dark: #3D3D3D;
$black: #1E1E1F;


$mobile: "320px";
$tablet: "768px";
$desktop: "1200px" ;
