//Création par Pilou le 24/09/21

@import 'nav';
@import 'header';
@import 'main';
@import 'footer';
@import 'gallery';

body{
    font-family: $font2;
    color: $light;
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    font-size: 1rem;
    position: relative;
    background-image: $bg-darksheet;
}
h1, h2, h3{
    font-family: $font1;
    color: $salmon;
}

p{
    margin-bottom: 1em;
}
a{
    color: $salmon;
    text-decoration: none;
}
.separator{
    width:40%;
    height: 2px;
    border: none;
    background-color: $orange;
    margin: 10px auto;
}
strong{
    font-size: 1.1em;
    color: $orange;
}
.hidden{
    position: absolute;
    top: -100%;
}


//Page d'accueil-----------------------------------------------

.bg-accueil{
    background: url("../img/MindmapWeb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    min-width: 320px;
    @extend %flex-2centers;
}
.message-accueil {
    font-family: $font1;
    width:auto;
    height: auto;
    padding: 15px 30px;
    @extend %button-erieblue;
    p{
        color: $orange;
    }
    .index-big-title{
        font-size:2em;
        color: $orange;
    }
    .index-small-title{
        font-size: 1em;
        margin-bottom: 0;
        color: $salmon;
    }
    .index-enter-text{
        font-size: 0.7em;
    }
}

@media only screen and (min-width : $tablet) {

    .message-accueil {
        .index-big-title{
            font-size:4em;
        }
        .index-small-title{
            font-size: 2em;
        }
        .index-enter-text{
            font-size: 1em;
        }
    }
}
@media only screen and (min-width : $desktop) {
    .message-accueil {
        .index-big-title{
            font-size:6em;
        }
        .index-small-title{
            font-size: 3em;
        }
        .index-enter-text{
            font-size: 1.2em;
        }
    }
}
