//Création par Pilou le 24/09/21

@import 'nav';
@import 'header';
@import 'main';
@import 'footer';

body{
    font-family: $font2;
    color: $black;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $erieblue;
    font-size: 1rem;
    position: relative;
}
h1, h2, h3{
    font-family: $font1;
    color: $dark;
}

p{
    margin-bottom: 1em;
}
a{
    color:$orange;
    text-decoration: none;
}
.separator{
    width:40%;
    height: 2px;
    background-color: $orange;
    margin: 0 auto;
}


//Page d'accueil-----------------------------------------------

.bg-accueil{
    background: url("../img/MindmapWeb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    min-width: 320px;
    @extend %flex-2centers;
}
.message-accueil {
    font-family: $font1;
    width:auto;
    height: auto;
    padding: 15px 30px;
    @extend %button-erieblue;
    p{
        color: $orange;
    }
    .index-big-title{
        font-size:2em;
    }
    .index-small-title{
        font-size: 1em;
        margin-bottom: 0;
    }
    .index-enter-text{
        font-size: 0.7em;
    }
}

@media only screen and (min-width : $tablet) {

    .message-accueil {
        .index-big-title{
            font-size:4em;
        }
        .index-small-title{
            font-size: 2em;
        }
        .index-enter-text{
            font-size: 1em;
        }
    }
}
@media only screen and (min-width : $desktop) {
    .message-accueil {
        .index-big-title{
            font-size:6em;
        }
        .index-small-title{
            font-size: 3em;
        }
        .index-enter-text{
            font-size: 1.2em;
        }
    }
}
