//Création par Pilou le 05/10/21
footer{
    width: 100%;
    padding: 0.5em;;
    height: 45vh;
    background: $gray;
    border-top: 1px dashed $dark;
    display: flex;
    flex-direction: column;
    h5{
        font-size: 2em;
    }
}

.footer-column{
    margin: 1em;
    width:auto;
    text-align: center;
    a{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }
}

@media only screen and (min-width : $tablet) {
    footer{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 30vh;

    }
    .footer-column{
        width: 45%;
    }
    .footer-column:nth-child(1){
        width:100%;
    }

}
@media only screen and (min-width : $desktop) {
    footer{
        height: 20vh;

    }
    .footer-column, .footer-column:nth-child(1){
        width:30%;
    }

}