.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case{
    @extend %case-button;
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.titre-gallery{
    font-size: 3em;
}
.case-titre{
    justify-content: center;
    height: 20vh;
    width: 100vw;
    @extend %flex-2centers;
}

.titre-case{
    width: 100%;
    height:25%;
    font-size: 2.5em;
}

.case-content{
    height: 100%;
    @extend %flex-2centers;
    flex-direction: column;
}

.case-image{
    @extend %flex-2centers;
    margin-bottom: 5px;
}
.case-image-thumb{
    width: 45%;
    height: 100%;
    margin: 2px;
}


@media screen and (min-width: $tablet){
    .case{
        flex-direction: row;
        align-items: center;
    }
    .titre-case{
        width: 25%;
        height:auto;

    }
    
}
@media screen and (min-width: $desktop){
    .container{
        height:60vh;
    }
    .case-content{
        flex-direction: row;
    }
    .case-image-thumb{
        max-height: 35vh;
    }
    
}