//Création par Pilou le 05/10/21

header{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    background-color: $dark;
}

.enter-gallery{
    padding: 0.5em 1em;
    @extend %button-erieblue;
    align-content: center;
}

@media only screen and (min-width : $tablet) {

}
@media only screen and (min-width : $desktop) {
    header{
        flex-direction: row;
        max-height: 75vh;
    }

}


//Carousel-----------------------------------------------

.header-left{
    width: 100%;
    height:auto;
    padding: 1em;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

div#slider { 
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1em;
    margin: auto 0;
}
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0 auto;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}
div#slider figure img {
    width: 20%; 
    height: auto;
    float: left; 
}

@media only screen and (min-width : $tablet) {
//none
}
@media only screen and (min-width : $desktop) {
    .header-left{
        height: 70vh;
    }
    div#slider figure img {
        max-height: 70vh;
    }
}

//Message-----------------------------------------------

.header-right{
    width: 100%;
    height:auto;
    padding: 1em;
}

.welcome{
    width: 100%;
    background-color: $erieblue;
    border: 1px solid $black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcome-title{
    width: 100%;
    margin:1em auto;
    font-family: $font1;
    
}
.welcome-title-small{
    font-size: 1.5em;
    color: $orange;
    margin-bottom: 0;
}
.welcome-title-big{
    font-size: 2.5em;
}

.welcome-gallery{
    width:100%;
}
.welcome-gallery-text{
    font-size: 1.2em;
    margin: 0.5em;
}

.mini-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.1em;
}
.mini-gallery-frame{
    width: 45%;
    height: auto;
    background-color: $dark;
    border: 1px solid $orange;
    padding: 0.3em 0 ;
    img{
        width:90%;
    }
}

@media only screen and (min-width : $tablet) {
    .welcome-title-small{
        font-size: 3em;
    }
    .welcome-title-big{
        font-size: 4em;
    }
    .mini-gallery-frame{
        width: 30%;
    }
    .welcome-gallery-text{
        font-size: 1.8em;
    }
}
@media only screen and (min-width : $desktop) {
    .header-right{
        height:70vh;
    }
    .welcome{
        height:100%;
        justify-content: space-around;
    }

    .welcome-title-big{
        font-size: 5em;
    }
    .mini-gallery-frame{
        width: 16%;
    }

}