//Création par Pilou le 05/10/21

header{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 auto;
    background: $bg-darksheet;
    // background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(92,171,255, 0.15) 8%, rgba(92,171,255, 0.15) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(92,171,255, 0.15) 21%, rgba(92,171,255, 0.15) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(92,171,255, 0.15) 35%, rgba(92,171,255, 0.15) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    border-bottom: 1px solid $salmon;
}



@media only screen and (min-width : $tablet) {

}
@media only screen and (min-width : $desktop) {
    header{
        flex-direction: row;
        max-height: 75vh;
    }

}


//Carousel-----------------------------------------------

.header-left{
    width: 100%;
    height:auto;
    padding: 1em;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

div#slider { 
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1em;
    margin: auto 0;
    border: 1px solid $salmon;

}
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0 auto;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}
div#slider figure img {
    width: 20%; 
    height: auto;
    float: left; 
}

@media only screen and (min-width : $tablet) {
//none
}
@media only screen and (min-width : $desktop) {
    .header-left{
        height: 70vh;
    }
    div#slider figure img {
        max-height: 70vh;
    }
}

//Message-----------------------------------------------

.header-right{
    width: 100%;
    height:auto;
    padding: 1em;
}

.welcome{
    width: 100%;
    background-color: $dark;
    border: 1px solid $salmon;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcome-title{
    width: 100%;
    margin:1em auto;
    font-family: $font1;
    
}
.welcome-title-small{
    font-size: 1.5em;
    margin-bottom: 0;
}
.welcome-title-big{
    font-size: 2.5em;
}

.welcome-gallery{
    width:100%;
    display: flex;
    flex-direction: column;
}
.welcome-gallery-text{
    font-size: 1.2em;
    margin: 0.5em;
}

.mini-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.1em;
}
.mini-gallery-frame{
    width: 45%;
    height: auto;
    background-color: $dark;
    border: 1px solid $salmon;
    padding: 0.3em 0 ;
    img{
        width:90%;
    }
}

.enter-gallery{
    @extend %button-erieblue;
    margin: auto;
    padding: 0.7em 1.2em;
    align-content: center;
}

@media only screen and (min-width : $tablet) {
    .welcome-title-small{
        font-size: 3em;
    }
    .welcome-title-big{
        font-size: 4em;
    }
    .mini-gallery-frame{
        width: 30%;
    }
    .welcome-gallery-text{
        font-size: 1.8em;
    }
}
@media only screen and (min-width : $desktop) {
    .header-right{
        height:70vh;
    }
    .welcome{
        height:100%;
        justify-content: space-around;
    }

    .welcome-title-big{
        font-size: 5em;
    }
    .mini-gallery-frame{
        width: 16%;
    }

}