//Création par Pilou le 24/09/21
// Maj par Pilou le 05/10/2021

nav{
    width:100%;
}


// Bouton hamburger-----------------------------------------------
.navigationIcon{
    z-index: 1000;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    @extend %button-erieblue;
    width: 3em;
    height: 3em;
    @extend %flex-2centers;
    flex-direction: column;
}
.barre{
    width: 60%;
    height: 3px;
    background-color: $dark;
    border-radius: 9999px;
}
.b1{
    position: relative;
    top: -6px;
    transition: all 0.2s;
    
}
.b2{
    transition: all 0.2s;
}
.b3{
    position: relative;
    top: 6px;
    transition: all 0.2s;
}
@media screen and (min-width: $tablet){
    .navigationIcon{
        width: 3.5em;
        height: 3.5em;
    }
}
@media screen and (min-width: $desktop){
    .navigationIcon{
        width: 4em;
        height: 4em;
    }
}


// Menu-----------------------------------------------
.containerMenu{
    z-index: 900;
    width: auto;
    height: auto;
    min-width: 50%;
    border: 1px solid $erieblue;
    // background: linear-gradient(175deg, $darkgray 0%, $dark 100%);
    background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(92,171,255, 0.0784313725490196) 8%, rgba(92,171,255, 0.0784313725490196) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(92,171,255, 0.0784313725490196) 21%, rgba(92,171,255, 0.0784313725490196) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(92,171,255, 0.0784313725490196) 35%, rgba(92,171,255, 0.0784313725490196) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, $dark, $dark);
    box-shadow: 0.5em 0.5em 1em $black;
    border-radius: 0.5em;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%,0%);
}
.menu{
    display: flex;
    flex-direction: column;
    @extend %flex-2centers;
}
.menuItem{
    text-align: center;
    width: auto;
    height: 100%;
    // border: 1px solid $gray;
    border-radius: 0.5em;
    margin: 2em;
    padding:0.5em;
    span{
        display: inline-block;
    }
}
.item{
    left: 0;
    width: auto;
    font-size: 2em;
    font-family: $font1;
}
.label{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
    width: auto;
    // border: 1px solid $gray;
    font-size: 1.8em;
    line-height: 1.4;
    overflow: hidden;
    color: transparent;
    transition: all 0.3s;
}
.menuItem:hover .label{
    color: $erieblue;
}

@media screen and (min-width: $tablet){
    .item{
        font-size: 2.5em;
    }
    .label{
        font-size: 2.2em;
    }
}

@media screen and (min-width: $desktop){
    .item{
        font-size: 3em;
    }
    .label{
        font-size: 2.5em;
    }
}