//Création par Pilou le 24/09/21
// Maj par Pilou le 05/10/2021




// Bouton hamburger-----------------------------------------------
.navigationIcon{
    z-index: 1000;
    position: fixed;
    top: 2em;
    right: 2em;
    @extend %button-erieblue;
    width: 5em;
    height: 5em;
    @extend %flex-2centers;
    flex-direction: column;
}
.barre{
    width: 60%;
    height: 5px;
    background-color: $dark;
    border-radius: 9999px;
}
.b1{
    position: relative;
    top: -10px;
    transition: all 0.2s;
    
}
.b2{
    transition: all 0.2s;
}
.b3{
    position: relative;
    top: 10px;
    transition: all 0.2s;
}

// Menu-----------------------------------------------
.containerMenu{
    z-index: 900;
    width: auto;
    height: auto;
    min-width: 50%;
    border: 1px solid $dark;
    background: linear-gradient(175deg, $light 0%, $erieblue 50%);
    box-shadow: 0.5em 0.5em 1em $dark;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%,0%);
}
.menu{
    display: flex;
    flex-direction: column;
    @extend %flex-2centers;
}
.menuItem{
    text-align: center;
    width: 90%;
    height: 100%;
    // border: 1px solid $gray;
    border-radius: 1em;
    margin: 2em;
    padding:0.5em;
    span{
        display: inline-block;
    }
}
.item{
    left: 0;
    width: auto;
    font-size: 2em;
    font-family: $font1;
}
.label{
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 1.8em;
    line-height: 1.4;
    overflow: hidden;
    color: transparent;
    transition: all 0.3s;
}
.menuItem:hover .label{
    color: $blue;
}



@media screen and (min-width: $tablet){
    .navigationIcon{
        right: 3em;
        width: 6em;
        height: 6em;
    }
    .item{
        font-size: 2.5em;
    }
    .label{
        font-size: 2.2em;
    }

}

@media screen and (min-width: $desktop){
    .navigationIcon{
        top: 3em;
        right: 6em;
    }
    .item{
        font-size: 3em;
    }
    .label{
        font-size: 2.5em;
    }

}